# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]git 

# Ignore specific files
paths.ini
output.txt

# Ignore all .png files except those in the graphs folder
*.png
!graphs/
!graphs/*.png

# Ignore everything in the results folder
results/