# Byte-compiled / optimized / DLL files
__pycache__/
SPIBBmaster/__pycache__/
batch_rl_algorithms/__pycache__/
*.py[cod]git 


# Ignore specific files
paths.ini
output.txt
stormpy_test.py
storm_vogel_test.py
modify_csv.py
test.py
tiny-01.drn
standard.txt
shielded.txt

*.png
*.txt
*.pdf
*.nm
*.html
*.csv
*.tex
# Ignore everything in the results folder
results/
data/
gifs/
stormvogel/
shield/
build/

# Re-include this specific directory tree
!internship/
!internship/shield/
!internship/shield/results_mac/
!internship/shield/results_mac/lander/
!internship/shield/results_mac/lander/shielded/
!internship/shield/results_mac/lander/shielded/spibb_test/
!internship/shield/results_mac/lander/shielded/spibb_test/final2/
!internship/shield/results_mac/lander/shielded/spibb_test/final_2/

# Re-include txt/csv files there
!internship/shield/results_mac/lander/shielded/spibb_test/final2/*.txt
!internship/shield/results_mac/lander/shielded/spibb_test/final2/*.csv
!internship/shield/results_mac/lander/shielded/spibb_test/final_2/*.txt
!internship/shield/results_mac/lander/shielded/spibb_test/final_2/*.csv
