# Byte-compiled / optimized / DLL files
__pycache__/
SPIBBmaster/__pycache__/
batch_rl_algorithms/__pycache__/
*.py[cod]git 

# Ignore specific files
paths.ini
output.txt
stormpy_test.py
test.py
tiny-01.drn

# Ignore all .png files except those in the graphs folder
*.png
!graphs/
!graphs/*.png

# Ignore everything in the results folder
results/